@model IEnumerable<ShoppingCart.Data.Entity.Address>

<table class="table table-condensed table-striped" id="addressTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Ajax.ActionLink("Edit", "Edit", "Address", new { item.AddressID }, new AjaxOptions { UpdateTargetId = "addressTable", OnSuccess = "onSuccess" }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
