@model AddressViewModel
@{
    Layout = null;
    string areYouSure = "";
    string delete = "";
    string cancel = "";

    if (Html.GetLanguageCode() == "tr")
    {
        areYouSure = "Adresi silmek istediğinizden emin misiniz?";
        delete = "Sİl";
        cancel = "İptal";
    }
    else
    {
        areYouSure = "Are you sure to delete this address?";
        delete = "Delete";
        cancel = "Cancel";
    }
}

<div class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@areYouSure</h4>
        </div>
        <div class="modal-body">


            @using (Html.BeginForm("Create", "Address"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    <div class="form-group">
                        @Html.HiddenFor(model=>model.AddressID)
                        @Html.HiddenFor(model => model.AddressLine1)
                        @Html.HiddenFor(model => model.AddressDescription)
                        @Html.HiddenFor(model => model.CityID)
                        @Html.HiddenFor(model => model.NameSurname)
                        @Html.LabelFor(model => model.AddressDescription, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Model.AddressDescription
                        </div>
                    </div>

                    <div class="modal-footer">


                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="#" data-dismiss="modal" class="btn btn-default">@cancel</a>
                                <input id="deleteAddress" type="submit" value="@delete" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<script type="text/javascript">
    $("#deleteAddress").click(function (e) {
        e.preventDefault();
        var form = $("#delete-dialog-modal form");
        form.validate();

        if (form.valid()) {
            $.ajax({
                url: "/Address/Delete",
                data: form.serialize(),
                type: "POST",
                success: function (data) {
                    if (data === "") {
                        location.reload();
                    }
                    else {
                        $("#delete-dialog-modal").html(data);

                        $.validator.unobtrusive.parse($("#delete-dialog-modal"));
                    }
                }
            });
        }

        return false;
    });

</script>