@model ShoppingCart.Service.ViewModel.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    string myCart = "";
    string product = "";
    string quantity = "";
    string price= "";
    string total = "";
    string continueShopping = "";
    string updateCart = "";
    string proceedToCheckout = "";
    string subTotal = "";
    string total2 = "";
    string shipping = "";
    if (Html.GetLanguageCode() == "tr")
    {
        myCart = "SEPETİM";
        product = "Ürün";
        quantity = "Adet";
        price = "BİRİM FİYAT";
        total = "TOPLAM FİYAT";
        continueShopping = "ALIŞVERİŞE DEVAM ET";
        updateCart = "SEPETİ GÜNCELLE";
        proceedToCheckout = "SATIN AL";
        subTotal = "Ara Toplam";
        total2 = "Toplam Fiyat";
        shipping = "Kargo";
    }
    else
    {
        myCart = "My Cart";
        product = "Product";
        quantity = "Quantity";
        price = "Price";
        total = "Total";
        continueShopping = "Continue Shopping";
        updateCart = "Update Cart";
        proceedToCheckout = "Proceed To Checkout";
        subTotal = "Subtotal";
        total2 = "Total";
        shipping = "Shipping";
    }
}





<section class="cart">
    @*<div class="container">*@
        <div class="row">
            <div class="col-lg-9 col-md-9">

                <!-- Cart -->
                <div class="box">


                    <div class="box-header">
                        <h3>
                             @myCart
                        </h3>
                    </div>
                    
                    <div class="box-content">
                        <div class="cart-items">
                            <table class="styled-table">
                                <thead>
                                    <tr>                                      
                                        <th class="col_product text-left">@product</th>
                                        <th class="col_remove text-right">&nbsp;</th>
                                        <th class="col_qty text-right">@quantity</th>
                                        <th class="col_discount text-right">@price</th>
                                        <th class="col_total text-right">@total</th>                                       
                                    </tr>
                                </thead>


                                <tbody id="CartTable">
                                @Html.Partial("_CartTable", Model)
                                </tbody>
                            </table>
                        </div>
                     </div>


                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="/" class="btn btn-small">
                                <i class="icon-chevron-left"></i> &nbsp; @continueShopping
                            </a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-small mm20" id="UpdateCart">
                                <i class="icon-undo"></i> &nbsp; @updateCart
                            </button>
                            @*<button type="submit" name="checkout" value="1" class="btn btn-primary btn-small mm20">
                                Proceed to checkout &nbsp; <i class="icon-chevron-right"></i>
                            </button>*@
                            <a class="btn btn-primary btn-small mm20"
                               href="@Url.Action("Index", "Checkout")">@proceedToCheckout&nbsp;<i class="icon-chevron-right"></i></a>
                        </div>
                    </div>

                    </div>
                </div>
            <div class="col-lg-3 col-md-3">
                <div class="cart-details">
                    <div class="box">
                        <div class="hgroup title">
                            <h3>Order totals</h3>
                            <h5>Shipping costs and taxes will be evaluated during checkout</h5>
                        </div>

                        <ul class="price-list">
                            <li>@subTotal: <strong>@Model.CartTotal</strong></li>
                            <li>@shipping: <strong>0</strong></li>
                            <li class="important">@total2: <strong>@Model.CartTotal</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        @*</div>*@
</section>


@*<p class="button">
        @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout")
    </p>
    <div id="update-message">
    </div>*@



@section scripts
{
    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete != '') {
                    // Perform the ajax post
                    $.post("/Cart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0)
                        {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        }
                        //else
                        //{
                        //    $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        //}
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
                }
            });

            $("#UpdateCart").click(function () {
                var itemArray = [];
                var item = {};
                $(".itemCount").each(function (index) {
                    var recordID = $(this).attr("id");
                    var count = $(this).val();
                    item = { RecordID: recordID, Count: count };
                    itemArray.push(item);
                });

                if (itemArray.length > 0) {
                    var itemArrayObject = JSON.stringify(itemArray);

                    $.ajax(
                    {
                        url: '/Cart/UpdateCart',
                        type: 'POST',
                        data: itemArrayObject,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function () {
                            window.location.reload(true)
                            //$("#CartTable").html(data);
                        }
                        //error: function (objAJAXRequest, strError) {
                        //}
                    });
                }  //ajax

            });

            
        
        });
    </script>
}


@*<table class="table table-condensed table-striped">

                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Price (each)
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.CartItems)
                {
                <tr id="row-@item.RecordId">
                    <td>
                        @Html.ActionLink(item.Product.ProductTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).ProductName
    , "Details", "Store", new { id = item.ProductId }, null)
                        @if (item.VariationXml != null)
                            {
                            @Html.GetProductVariantAndValueFromXml(item.VariationXml)
                            }
                    </td>
                    <td>
                        @item.Product.DiscountedPrice
                    </td>
                    <td id="item-count-@item.RecordId">
                        @item.Count
                    </td>
                    <td>
                        <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
                    </td>
                </tr>
                }
                <tr>
                    <td>
                        Total
                    </td>
                    <td></td>
                    <td></td>
                    <td id="cart-total">
                        @Model.CartTotal
                    </td>
                </tr>
            </table>*@