@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">

        @*<li>
            <a href="/Account/Manage" title="Manage">
                <img class="img-responsive profilePicture" width="24" height="24" src="~/Content/ProfileImages/@(User.Identity.GetUserId()).jpeg" />
            </a>
        </li>*@

        <li class="language">
            @if (@Html.GetLanguageCode() == "tr"  )
            {               
                <a href="@Url.Action("ChangeLanguage", "Nav", new { ReturnURL = Request.RawUrl, language = "en" })" class="flagus"></a>
            }
            else
            {
                <a href="@Url.Action("ChangeLanguage", "Nav", new { ReturnURL = Request.RawUrl, language = "tr" })" class="flagtr"></a>
            }
        </li>
        <li class="cart">
            @{Html.RenderAction("CartSummary", "Cart");}
        </li>
         <li>
            @Html.ActionLink( User.Identity.GetUserName() , "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (@Html.GetLanguageCode() == "tr")
            {
                <a href="@Url.Action("ChangeLanguage", "Nav", new { ReturnURL = Request.RawUrl, language = "en" })" class="flagus"></a>
            }
            else
            {
                <a href="@Url.Action("ChangeLanguage", "Nav", new { ReturnURL = Request.RawUrl, language = "tr" })" class="flagtr"></a>
            }
        </li>
        <li class="cart">
            @{Html.RenderAction("CartSummary", "Cart");}
        </li>

        @if (@Html.GetLanguageCode() == "tr")
        {
            <li>@Html.ActionLink("Üye Ol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Üye Girişi", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
        else
        { 
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
    </ul>
}
