@model ShoppingCart.Service.ViewModel.ProductViewModel

<li class="standard" data-price="@Model.DiscountedPrice.ToString("c")">
    <a href="@Url.Action("Index", "Product", new { productURLText = Model.ProductURLText })" title="Lisette Dress">
        <div class="image">
            <img class="primary" style="display:none;" src="@Url.Action("GetImage", "Image",
                        new {productImageID= Model.ProductImages.OrderByDescending(x=>x.DisplayOrder).First().ProductImageID })" alt="Lisette Dress" />
                        @if (Model.ProductImages.Count > 1)
{
            <img class="secondary" style="display:none;" src=
                 "@Url.Action("GetImage", "Image", new {productImageID= Model.ProductImages.OrderByDescending(x=>x.DisplayOrder).
                      Skip(1).First().ProductImageID }) " alt="lisette dress" />

}          
        </div>

        <div class="title">
            <div class="prices">
                <span class="price">@Model.DiscountedPrice.ToString("c")</span>
            </div>
            <h3>@Model.ProductName</h3>
        </div>

    </a>
</li>

