@model IList<ShoppingCart.Data.Entity.PaymentMethod>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
    string address = "";
    string shippingMethod = "";
    string paymentMethod = "";
    string orderReview = "";
    string shipmentAddress = "";
    string continue1 = "";
    string backToCart = "";
    string createNew = "";
    string back = "";

    if (Html.GetLanguageCode() == "tr")
    {
        address = "Adres";
        shippingMethod = "Kargo";
        paymentMethod = "Ödeme";
        orderReview = "Siparişi Tamamla";
        shipmentAddress = "Gönderi Adresi";
        continue1 = "Devam Et";
        backToCart = "Sepete Dön";
        createNew = "YENİ adres ekle";
        back = "GERİ";
    }
    else
    {
        address = "Address";
        shippingMethod = "Shipping";
        paymentMethod = "Payment";
        orderReview = "Order Review";
        shipmentAddress = "Shipment Address";
        continue1 = "Continue";
        backToCart = "Back To Cart";
        createNew = "Create New";
        back = "Back";
    }
}

<section class="checkout">
    <div class="row">
        <div class="col-md-7 col-lg-7">
            <div class="box">

                <!-- Checkout progress -->
                @*<div id="checkout-progress">*@
                    <ul class="nav nav-tabs">
                        @foreach (var item in Model)
                        {
                            
                        }
                        <li>
                            <a href="@Url.Action("Address","Checkout",null)">
                                <i class="icon-map-marker icon-large"></i>
                                <span>@address</span>
                            </a>
                        </li>
                        <li >
                            <a href="@Url.Action("Shipment", "Checkout", null)">
                                <i class=" icon-truck icon-large">
                                </i>
                                <span>@shippingMethod</span>
                            </a>
                        </li>
                        <li class="active">

                                <a href="#">
                                    <i class="icon-money icon-large"></i>
                                    <span>@paymentMethod</span>
                                </a>
                        </li>
                        @*<li>
                            <div>
                                <i class="icon-search icon-large"></i>
                                <span>@orderReview</span>
                            </div>
                        </li>*@
                    </ul>
                @*</div>*@
                <!-- End id="checkout-progress" -->
                <!-- Checkout content -->
                <div id="checkout-content">
                    <div class="box-header">
                        <h3>@shippingMethod</h3>
                    </div>
                    <div class="box-content">

                        <div class="shipping_methods">
                            <div class="row">
                                <div class="col-lg-1 col-md-1"></div>
                                <div class="col-lg-10 col-md-10">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#">Home</a></li>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Messages</a></li>
                                    </ul>
                                    <div class="tab-content">

                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1"></div>

                                @*@foreach (var item in Model)
                                {
                                    <div class="col-md-3 col-lg-3">
                                        <div class="box highlight">
                                            <div class="hgroup title">
                                                <h3>@item.PaymentMethodName</h3>
                                                <h5>@item.PaymentMethodDescription</h5>
                                            </div>

                                            <div class="box-content highlight">

                                                <input type="radio" value="@item.PaymentMethodID" name="shipping_option" id="@item.PaymentMethodID">
                                            </div>
                                        </div>
                                    </div>
                                }*@



                            </div>
                        </div>






                    </div>
                    <div class="box-footer">
                        <div class="pull-left">
                            @*<a href="cart.html" class="btn btn-small">
                                    <i class="icon-chevron-left"></i> &nbsp; @backToCart
                                </a>*@

                            <a href="@Url.Action("Shipment", "Checkout")" class="btn btn-small">
                                <i class="icon-chevron-left"></i> &nbsp; @back
                            </a>

                        </div>
                        <div class="pull-right">
                            @*<button type="submit" class="btn btn-primary">
                                    @continue1 &nbsp; <i class="icon-chevron-right"></i>
                                </button>*@

                            <a class="btn btn-primary btn-small mm20"
                               href="@Url.Action("Payment", "Checkout")">@continue1&nbsp;<i class="icon-chevron-right"></i></a>

                        </div>
                    </div>
                </div>
                <!-- End id="checkout-content" -->

            </div>
        </div>
        <div class="col-md-5 col-lg-5">
            @Html.Action("CartCheckoutSummary", "Checkout", null)
            @Html.Action("AddressCheckoutSummary", "Checkout", null)
        </div>
    </div>
</section>

