@model IEnumerable<ShoppingCart.Data.Entity.Category>

<div class="panel panel-primary well">
    <ul class="list-group nav">
        @foreach (var category in Model)
        {
            <li class="list-group-item-heading nav-header disabled">
                <h3>
                    @Html.RouteLink(category.CategoryTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).CategoryName,
            new
            {
                controller = "Home",
                action = "Index",
                categoryURLText = category.CategoryURLText,
                page = 1
            })
                </h3>
            </li>         
            foreach (var childCategory in category.Children)
            {
                <li>
                    <h4>
                        @Html.RouteLink(childCategory.CategoryTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).CategoryName,
                new
                {
                    controller = "Home",
                    action = "Index",
                    categoryURLText = childCategory.CategoryURLText,
                    page = 1
                })
                    </h4>
                </li>  
                foreach (var grandChildCategory in childCategory.Children)
                {
                    <li>
                        <h5>
                            @Html.RouteLink(grandChildCategory.CategoryTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).CategoryName,
                    new
                    {
                        controller = "Home",
                        action = "Index",
                        categoryURLText = grandChildCategory.CategoryURLText,
                        page = 1
                    })
                        </h5>
                    </li> 
                }           
            }
        }
    </ul>
</div>
