@model IEnumerable<ShoppingCart.Data.Entity.Category>

<div class="widget Categories">
    @*<h3 class="widget-title widget-title ">​Categories​</h3>​*@
    <ul>
        @foreach (var category in Model)
        {
            <li>
            @Html.RouteLink(category.CategoryTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).CategoryName,
            new
            {
                controller = "Home",
                action = "Index",
                categoryURLText = category.CategoryURLText,
                page = 1
            }, new { @class = "title" })
         
            @if (category.Children.Count > 0)
            {
                <ul>
                    @foreach (var childCategory in category.Children)
                    {
                        <li>

                            @Html.RouteLink(childCategory.CategoryTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).CategoryName,
                                                            new
                                                            {
                                                                controller = "Home",
                                                                action = "Index",
                                                                categoryURLText = childCategory.CategoryURLText,
                                                                page = 1
                                                            }, new { @class="title"})
                            @if (childCategory.Children.Count > 0)
                            {
                                <ul>
                                    @foreach (var grandChildCategory in childCategory.Children)
                                    {
                                        <li>
                                            @Html.RouteLink(grandChildCategory.CategoryTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).CategoryName,
                                                                                                new
                                                                                                {
                                                                                                    controller = "Home",
                                                                                                    action = "Index",
                                                                                                    categoryURLText = grandChildCategory.CategoryURLText,
                                                                                                    page = 1
                                                                                                }, new { @class = "title" })
                                        </li>
                                    }
                                </ul>
                            }
                            </li>
                    }
                </ul>
            }
            </li>
        }
        </ul>
</div>
